---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    <link href="js/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="js/js-image-slider.js" type="text/javascript"></script>
    <link href="generic.css" rel="stylesheet" type="text/css" />
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
            <div id="sliderFrame">
                <div id="slider">
                    <a class="lazyImage" href="images/1a3d8bce-ab15-4001-afb7-af022068f61a.jpg" title="Pure Javascript. No jQuery. No flash.">Plain Javascript Slider</a>
                    <a class="lazyImage" href="images/Sword-Art-Online-sword-art-online-37732671-1920-1200.jpg" title="#htmlcaption5">Lazy Loading Image</a>
                    <a class="lazyImage" href="images/Sword-art-online-800x420.jpg" title="Light weight Image Slider">Light weight Image Slider</a>
                    <a class="lazyImage" href="images/sao-hero.jpg" title="Fine tuned. Sleek & Smooth">Fine tuned. Sleek & Smooth</a>
                    <a class="lazyImage" href="images/294344.jpg" title="Easy-to-Use Slider">Easy-to-Use Slider</a>
                </div>
        <div style="display: none;">
            <div id="htmlcaption3">
                <em>HTML</em> caption. Back to <a href="http://www.menucool.com/">Menucool</a>.
            </div>
            <div id="htmlcaption5">
                Smart Lazy Loading Image
            </div>
        </div>
                
        <!--thumbnails-->
        <div id="thumbs">
            <div class="thumb"><img src="images/1a3d8bce-ab15-4001-afb7-af022068f61a.jpg" /></div>
            <div class="thumb"><img src="images/Sword-Art-Online-sword-art-online-37732671-1920-1200.jpg" /></div>
            <div class="thumb"><img src="images/Sword-art-online-800x420.jpg" /></div>
            <div class="thumb"><img src="images/sao-hero.jpg" /></div>
            <div class="thumb"><img src="images/294344.jpg" /></div>
            <div class="thumb"><img src="images/1a3d8bce-ab15-4001-afb7-af022068f61a.jpg" /></div>
            <div class="thumb"><img src="images/Sword-Art-Online-sword-art-online-37732671-1920-1200.jpg" /></div>
            <div class="thumb"><img src="images/Sword-art-online-800x420.jpg" /></div>
            </div>
        </div>    
                    
            </div>
    </header>
    {% include scripts.html %}
</body>
</html>
